#disable_amazonS3_span {
    
}
form#upload-file #disable_amazonS3_span input {
    width:auto !important;
}
#amazon-s3-wrap {
    padding:5px;
}
.infobar {
    padding:0 0 6px 0;
    margin:0 0 5px 0;
    font-size:0.9em;
    position:relative;
    border-bottom:1px solid #ddd;
}
.infobar a {
    border:0;
    color:black;
    text-decoration:none;
}
.infobar a:hover {
    text-decoration:underline;
}

.infobar .nav-controls {
    position:absolute;
    top:0px;
    left:0px;
}
.infobar .nav-controls a {
    display:block;
    float:left;
    margin-right:10px;
    height:18px;
    line-height:18px;
    padding-left:20px;
    background:url(arrow_left.png) no-repeat left;
    border:0;
	color:#888;
}
.infobar .nav-controls a#btn-upload,
.infobar .nav-controls a#btn-folder,
.infobar .nav-controls a#btn-forward,
.infobar .nav-controls a#btn-refresh {
    padding-left:0px;
    padding-right:20px;
    text-indent:-10000px;
    background:url(arrow_right.png) no-repeat left;
}
.infobar .nav-controls a#btn-refresh {
    background-image:url(arrow_refresh.png);
}
.infobar .nav-controls a#btn-upload {
    background-image:url(add.png);
}
.infobar .nav-controls a#btn-folder {
    background-image:url(folder_add.png);
}
.infobar .path {
    margin-left:195px;
	line-height:18px;
}
.infobar .path,
.infobar .path a{
    color:#888;
}
.infobar .path a.last {
    font-weight:bold;
    color:#000;
}
.infobar .options {
    position:absolute;
    top:0px;
    right:10px;
}
.infobar #upload-form, .infobar #create-form {
	display:none;
	padding:5px;
}
.folders ul {
    list-style:none;
    margin:0;
    padding:0;
    
}
.folders li {
    float:left;
    margin-right:10px;
    font-size:11px;
    
}
.folders li a {
    color:#555;
    border:0;
    text-decoration:none;
    background:url(folder.gif) no-repeat 0px -3px;
    padding:0 0 0 20px;
}
.folders li a:hover {
    background-color:#eee;
}
.folders li a.add {
	background-image:url(folder_add.png);
}
.folders li#createFolder div.form {
	display:none;
}
.folders li#createFolder.create div.form {
	display:inline;
}
.folders li#createFolder.create a.add {
	display:none;
}
.folders li#createFolder input {
	font-size:9px;
	padding:0;
}
.files {
    clear:both;
}
.files ul {
    list-style:none;
    margin:0;
    padding:0;
}
.files ul li {
    float:left;
    width:24%;
    overflow:hidden;
    font-size:0.9em;
    margin-right:0.5%;
}
.files ul li a {
    border:0;
    text-decoration:underline;
    
}
.files ul li a:hover {
    background:#eee;
}
.files ul li.empty {
	color:#888;
	letter-spacing:1px;
	font-style:italic;
}